# editorconfig.org
# Plugin to sublime-text: https://github.com/sindresorhus/editorconfig-sublime
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

#Identation
[*.{css,html,json,py,styl}]
indent_style = space
indent_size = 4

#Markdown
[*.md]
trim_trailing_whitespace = false

#JS
[*.{js, json}]
indent_style = tab
indent_size = 2

# Minified JavaScript files shouldn't be changed
# https://github.com/django/django/blob/master/.editorconfig#L26
[**.{min.js, min.css}]
indent_style = ignore
insert_final_newline = ignore


# https://github.com/h5bp/html5-boilerplate/blob/master/.editorconfig
[{.travis.yml,package.json}]
# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
indent_size = 2
indent_style = space
